# Node modules
node_modules/

# Python virtual environment
venv/

# Audio/temp files
*.mp3
temp_/

# React .env
nurture-ai-web/.env


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Coverage reports
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# TypeScript
*.tsbuildinfo
